*.d
*.h~
*.c~
*.o
run/fat/boot/pmod_test
phantom/vm/pvm_test.exe
run/fat/boot/phantom
run/tftp/phantom
*.pe
oldtree/kernel/phantom/svn_version.c
*.a
run/fat/bin/*
local-config.mk 
local-config.ia32.mk
phantom-cov.tgz
