*.d
*.h~
*.c~
*.o
run/fat/boot/pmod_test
phantom/vm/pvm_test.exe
run/fat/boot/phantom
run/tftp/phantom
*.pe
oldtree/kernel/phantom/svn_version.c
*.a
run/fat/bin/*
local-config.mk 
local-config.ia32.mk
local-config.arm.mk
local-config.amd64.mk
local-config.mips.mk 
phantom-cov.tgz
phantom/apps/cat/cat
phantom/apps/cp/cp
phantom/apps/dmesg/dmesg
phantom/apps/echo/echo
phantom/apps/grep/grep
phantom/apps/kill/kill
phantom/apps/ln/ln
phantom/apps/ls/ls
phantom/apps/mkdir/mkdir
phantom/apps/mode/mode
phantom/apps/more/more
phantom/apps/pwd/pwd
phantom/apps/rm/rm
phantom/apps/sh/sh
phantom/apps/sntp/sntp
phantom/apps/stats/stats
phantom/apps/tcptest/tcptest
phantom/apps/tetris/tetris
phantom/apps/top/top
phantom/apps/touch/touch
phantom/apps/tcp_echo/tcp_echo
phantom/apps/udp_echo/udp_echo
phantom/apps/wavplay/wavplay
phantom/apps/wc/wc
phantom/modules/test/pmod_test
phantom/modules/tcpdemo/pmod_tcpdemo
plib/bin/*.pc
plib/bin/*.lstc
plib/bin/*.lst
plib/bin/*.ll
oldtree/kernel/phantom/phantom
run/fat/class/*.pc
run/*.img
run/serial0.log*
tools/jbulk/bin/*
cov-int
