*.d
*.h~
*.c~
*.o
run/fat/boot/phantom.ia32
run/fat/boot/pmod_test
run/fat/boot/pmod_tcpdemo
phantom/vm/pvm_test.exe
run/fat/boot/phantom
run/tftp/phantom
*.pe
oldtree/kernel/phantom/svn_version.c
*.a
run/fat/bin/*
local-config.mk 
local-config.ia32.mk
local-config.arm.mk
local-config.amd64.mk
local-config.mips.mk 
phantom-cov.tgz
phantom/apps/cat/cat
phantom/apps/cp/cp
phantom/apps/dmesg/dmesg
phantom/apps/echo/echo
phantom/apps/grep/grep
phantom/apps/kill/kill
phantom/apps/ln/ln
phantom/apps/ls/ls
phantom/apps/mkdir/mkdir
phantom/apps/mode/mode
phantom/apps/more/more
phantom/apps/pwd/pwd
phantom/apps/rm/rm
phantom/apps/sh/sh
phantom/apps/sntp/sntp
phantom/apps/stats/stats
phantom/apps/tcptest/tcptest
phantom/apps/tetris/tetris
phantom/apps/top/top
phantom/apps/touch/touch
phantom/apps/tcp_echo/tcp_echo
phantom/apps/udp_echo/udp_echo
phantom/apps/wavplay/wavplay
phantom/apps/wc/wc
phantom/modules/test/pmod_test
phantom/modules/tcpdemo/pmod_tcpdemo
plib/bin/*.pc
plib/bin/*.lstc
plib/bin/*.lst
plib/bin/*.ll
plib/bin/*.c
plib/bin/*.java
oldtree/kernel/phantom/phantom
run/fat/class/*.pc
run/*.img
run/serial0.log*
run/net.dmp
tools/jbulk/bin/*
tools/uftpd/bin/*
tools/snapdump/bin/*
tools/pfsck/bin/*
test/external/bin/*
cov-int
run/qemu/0.15.1/stderr.txt
build_log
oldtree/kernel/phantom/.gdb-local
tools/jbulk/mkbulk.jar
oldtree/kernel/phantom/gdb.log
etc/experiments/cpfs/disk.img
*.exe
*.img
etc/experiments/cpfs/Makefile~
etc/experiments/cpfs/cpfs.exe.stackdump
etc/experiments/cpfs/.gdbrc~
etc/experiments/cpfs/nbproject/
local-config.e2k.mk
run/last_snap.data
run/prev_snap.data
run/trace
etc/attic/plc/bin
tools/plc/bin
tools/plc/test/pc/*.c
tools/plc/test/pc/*.pc
tools/plc/test/pc/*.lstc
tools/plc/test/pc/*.lst
tools/plc/test/pc/*.ll
tools/plc/test/pc/*.java
tools/plc/*.pc
tools/plc/*.lstc
tools/plc/*.lst
tools/plc/*.ll
tools/plc/*.java
plib/java/temp
test/unit/CMakeFiles
test/unit/suites/CMakeFiles
test/plc/bin
test/external/bin
tools/snapdump/bin
tools/pfsck/bin
tools/jbulk/bin
tools/pfsextract/bin
tools/mkpfs/bin
tools/trfs/bin
tools/uftpd/bin
.idea
*.iml
*.class
tools/big_gc/analysis/*.csv
tools/big_gc/out.data
tools/plc/internal.*.c
tools/plc/ru.dz.phantom.*.c
tools/plc/phantom.*.c
phantom/vm/makefile~
phantom/vm/makerules~
test/unit/suites/suite_amap.dll
test/unit/suites/suite_funcs.dll
test/unit/suites/suite_pool.dll
test/unit/suites/suite_skeleton.dll
test/unit/suites/suite_wtty.dll
test/unit/CMakeCache.txt
phantom/vm/pvm_headless
phantom/vm/pvm_headless.exe.core
phantom/vm/pvm_headless.exe.stackdump
*.ph~
*.pyc
test/unit/cmake_install.cmake
test/unit/Makefile
test/unit/suites/cmake_install.cmake
test/unit/suites/Makefile
*.stackdump
*.sh~
*.py~
run/qemu/0.15.1/stdout.txt
phantom/doxygen/
tools/pfsextract/last_snap.data
tools/pfsextract/prev_snap.data
build/phantom.code-workspace
